* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.navBar {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 -1px 3px #cececc;
}

.navBar li {
  flex: 1;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

.Active {
  background: #ef4238!important;
  color: #fff!important
}
